    {% extends 'base.html' %}
    {% block content %}

    <div class="mt-5">

        <div class="container py-5 ">
            <div class="row">
                <div class="col-md-8 offset-2">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control form-control-lg" name="q" placeholder="Search">
                            <button class="btn btn-dark  button-lg" type="submit" id="button-addon2">Search</button>
                        </div> 
                    </form>
                </div>
            </div>     
        </div>
        
        <div class="container">
            {% for question in questions %}
            <div class="card mb-3" >
                <div class="card-body">
                    <h4><a href="/details/{{question.id}}">{{question.title}}</a></h4>
                    <p class="card-text">{{question.details}}</p>
                    <p>
                        <a href="" class="mr-3">{{question.user.username}}</a>
                        <a href="" class="mr-3">Answers</a>
                        <a href="" class="mr-3">comments</a>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>

        <nav class="my-3 container">
            <ul class="pagination">
                {% if questions.has_previous%}
            <li class="page-item">
                <a class="page-link" href="?page={{questions.previous_page_number}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for i in questions.paginator.page_range %}
            {% if questions.number == i %}
            <li class="page-item active   "><a class="page-link" href="#">{{i}}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
            {% endif %}
            {% endfor %}
            {% if questions.has_next%}
            <li class="page-item">
                <a class="page-link" href="?page={{questions.next_page_number}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
            </ul>
        </nav>
    </div>


    {% endblock %}